<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Antminer Monitor [roarwrecker edition]</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    <script src="/static/coinwidget/coin.js"></script>
</head>
<body>
<h2>Antminer Monitor [roarwrecker edition] {{ version }}</h2>
<fieldset style="width: 300px;">
    <legend>Countdown</legend>
    <b id="countdown"></b>
</fieldset>

{%- with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="{{ category }}">
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endif %}
{%- endwith %}
<br>

<fieldset name="active_miner_list">
    <legend>Active Miners ({{ active_miners|length }})</legend>
    <table style="width:100%">
        <tr>
            <th>IP Address</th>
            <th>Model</th>
            <th>Chip Temp (°C)</th>
            <th>Uptime</th>
        </tr>
        {%- for active_miner in active_miners|sort(attribute='ip') %}
            <tr{%- if active_miner.ip in miner_errors %} class="error"{%- endif %}>
                <td>{{ active_miner.ip }}</td>
                <td title="{{ active_miner.model.description }}">{{ active_miner.model.model }}</td>
                <td>{{ temperatures[active_miner.ip] }}</td>
                <td>{{ uptimes[active_miner.ip] }}</td>
            </tr>
        {%- endfor %}
    </table>
</fieldset>

<script>
    (function countdown(remaining) {
        if(remaining === 0)
            location.reload(true);
        else {
            document.getElementById('countdown').innerHTML = 'Refresh in: ' + remaining + ' sec';
            setTimeout(function(){ countdown(remaining - 1); }, 1000);
        }
    })(120);
</script>

</body>
</html>